/**
*   @fileoverview
*     Componente para aplicar un reseteo de estilos básicos al documento, aplica las siguientes reglas:
*       * box-sizing: border-box; al documento HTML y todos sus elementos
*       * padding y margin de todos los elementos a cero
*       * Evita barras de desplazamiento horizontal al body del documento, múy útil para el Responsive Design
*       * Asigna la fuente tipográfica y el tamaño base de fuente para el documento HTML
*     Dependencias: Ninguna
*
*   @param {String} $font, nombre de la fuente base del proyecto
*   @param {String} $font-size, tamaño de la fuente del elemento raíz (html)
*
*   @returns {void} no retorna nada
*
*   @author Jonathan MirCha <jonmircha@gmail.com>
*   @version 1.0.0
*/
@font-face {
  font-family: "title-sunshine";
  src: url("./typo/A little sunshine.ttf");
  font-style: normal; 
}
* { -webkit-tap-highlight-color: rgba(255, 255, 255, 0) ; } 
:root{scroll-behavior:smooth}


$font: "Roboto";
$font-size: 16px;

html {
  box-sizing: border-box;
  font-family: $font;
  font-size: $font-size;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
li {
  list-style-type:  none;
}

body {
  overflow-x: hidden;
  margin-top: 89px;
}

.b-red {
  border: 2px solid red;
} 

.a-title {
  font-family:"title-sunshine" ;
} 
.a-title-size {
  color: rgb(58, 58, 58);
  font-weight: 600;
  font-size: 53px;
}

.text-verde {
  color: $verde-claro;
}
.text-azul {
  color: $azul-oscuro;
}

.h-15px {
  height: 15px;
}

.font-f-title {
  font-family: "title-sunshine";
  font-size: 20px;
}

.btn-sesion {
  width: 120px;
}

.bg-verde-muyClaro {
  background-color: $verde-muyClaro;
}

.h-90px {
  max-height: 80px;
}

.max-w95 {
  max-width: 95%;
}

.outline-0 {
  outline: none;
  &:focus {
    outline: none;

  }
}

.azul-claro {
  background-color: $azuld-claro;
}