.formBoy {
  position: relative;
  &-nackgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }

  &-contentForm {
    min-height: 500px;
    max-width: 450px;
    border: 5px solid $verde-claro;
    background-color: #fff;
  }

  &-img {
    // width: fit-content;
    height: 100px;
    display: block;
  }
}

.br-25 {
  border-radius: 25px;
}
.br-20 {
  border-radius: 20px;
}

.btn-buttonForm {
  background-color: $verde-claro;
  color: #fff;
  &:hover {
    color: #fff;
  background-color: darken($color: $verde-claro, $amount: 5);
 
  }
}
.btn-azul {
  background-color: $azul-oscuro;
  color: #fff;
  &:hover {
    color: #fff;
  background-color: darken($color: $azul-oscuro, $amount: 5);
 
  }
}