$verde-claro :#85B501;
$verde-muyClaro :#F7FFE1;
$azuld-claro :#E1ECFF;
$azul-oscuro:#1C4D9A;
$naranja-contact:#d8791a;
$gris-claro:#f3f3f3; 
// // $verde-claro :#000;
// $g:#D31400;
// $h:#F7FFE1;
// $j:#85B501;
// $color-menu:#FFFFFF;
// $s5:#F2F2F2;

// $ss:#E1ECFF;
// $s:#1C4D9A;
// $d:#D31400;
// $s:#F7FFE1;
// $s:#85B501;
// $s:#FFFFFF;
// $s:#F2F2F2