include ./metatags_webapp.pug
doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    +metatagsWebApp()
    block metatags
    link(rel="stylesheet", href="./style.css")
    //- link(rel="stylesheet", href="owl.carousel.min.css")
    //- link(rel="stylesheet", href="owl.theme.default.min.css")

    script(src="jquery.min.js")
    script(src="owl.carousel.min.js")
    
  body
    block content
 
    script.
      var owl = $('.owl-carousel');
      owl.owlCarousel({
        margin: 10,
        loop: true,
        nav:true,
        //- autoplay:true,
        //- stagePadding:30,
        dots:false,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1000: {
            items: 3
          }
        }
      })



    script(src="https://www.gstatic.com/firebasejs/8.1.1/firebase.js")


    script(src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js")


    script.
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyDc4HaVCDiREIKSUM0akSCEkGSNn5dfIto",
        authDomain: "una-sonrrisa-un-juguete.firebaseapp.com",
        databaseURL: "https://una-sonrrisa-un-juguete.firebaseio.com",
        projectId: "una-sonrrisa-un-juguete",
        storageBucket: "una-sonrrisa-un-juguete.appspot.com",
        messagingSenderId: "744652670048",
        appId: "1:744652670048:web:24c3c3b5919d6c3ef46f05",
        measurementId: "G-0PL6P37TQL"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    script(src="./script.js")