mixin aboutUs(img)
  .aboutUs.py-6#nosotros
    .container
      .row
        .col-lg-6.col-md-12.p-4.m-auto.aboutUs-contentCol
          //- h2.a-title-size.a-title nosotros
          img(data-img="./img/Nosotros.png", alt="").preloaderImage-img.h-90px.mb-3.max-w95
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, totam ab assumenda dolor consectetur, obcaecati, perferendis id natus ea architecto est quo alias officia! Vero temporibus molestias repellat, error incidunt repellendus voluptas illum illo quia rerum suscipit sint aliquid totam rem nulla harum tempora. Minus nam quo et molestias repellat sunt, aperiam asperiores cumque mollitia eaque, vitae laudantium perferendis inventore cupiditate molestiae doloribus corrupti excepturi? Modi adipisci obcaecati optio sunt nam, velit labore? Eos et accusamus adipisci quasi, rerum repudiandae nisi aspernatur delectus aperiam quia laudantium quae soluta vel! Perferendis sit magni maxime asperiores, quod voluptatibus iusto ea! Cum, ducimus?
        .col-lg-6.col-md-12.p-4.m-auto.aboutUs-contentCol.aboutUs-contentImg.d-flex.justify-content-center.content-preloaderImage
          img(data-img=img, alt="").aboutUs-img.preloaderImage-img
