mixin carrouselBoys(cards)
  .carrouselBoys.container-fluid.text-center.py-5
    h2 perfiles
    .owl-carousel.carrouselBoys-counterCards.container
      each card in cards
        .item.carrouselBoys-item
          .carrouselBoys-card.card.mx-auto.position-relative
            .carrouselBoys-contentImgBoy.mx-auto
              img(src="https://picsum.photos/200/300", alt="").carrouselBoys-imgBoy.w-100.h-100
            .card-body.text-center.py-5.mt-4
              h5.card-title Card title
              p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus adipisci aspernatur explicabo veritatis. Voluptate repudiandae nobis ullam expedita perspiciatis excepturi
              a(href="#" class="card-link").text-light.carrouselBoys-buttonLink.position-absolute.p-2 Another link


