mixin contact(imgBack, link)
  .contactWhatsApp#contacto.py-6
    img(data-img=imgBack, alt="").preloaderImage-img.w-100.contactWhatsApp-img
    .container
      .row
        .col-md-12.col-lg-6.text-center
          //- h2.text-white contactanos
          img(data-img="./img/Contactanos.png", alt="").preloaderImage-img.max-w95
        .col-md-12.col-lg-6.p-5.text-center.centrado-ab
          a(href=link).btn.btn-naranja.br-25.px-5 <img data-img="./img/whatsapp.svg" class="preloaderImage-img mr-2"> whatsapp