mixin contact(imgBack, link)
  .contactWhatsApp
    img(data-img=imgBack, alt="").preloaderImage-img.w-100.contactWhatsApp-img
    .container
      .row
        .col-md-12.col-lg-6.p-5.text-center
          h2.text-white contactanos
        .col-md-12.col-lg-6.p-5.text-center
          a(href=link).btn.btn-naranja.br-25.px-3 <img data-img="./img/whatsapp.svg" class="preloaderImage-img mr-1"> contactanos por whatsapp