mixin formBoy(backgroundImg,img,googleSvg)
  .formBoy.text-center.py-5#registro
    img(data-img=backgroundImg, alt="").formBoy-nackgroundImg.preloaderImage-img
    .container
      .row
        .col-12.px-3.py-4
          h2.a-title.a-title-size.text-white.mb-5 regalo de santa
          .formBoy-contentForm.br-25.p-4.text-center.m-auto
            img(data-img=img, alt="").formBoy-img.m-auto.preloaderImage-img
            h3.h2.mb-4.text-verde Registrarse
            form.formBoy-form#formPadrino
              .form-group
                input( type="text", name="nombre" class="form-control", placeholder="nombre y apellido", required)#padrinoName.br-25
              .form-group 
                input( type="email", name="email" class="form-control", placeholder="correo Electronico", required)#padrinoEmail.br-25
              .form-group
                input( type="password", class="form-control", placeholder="ingreza una contraseña", required)#padrinoPass.br-25

              button(type="submit").btn.btn-buttonForm.btn-block.br-25 Registrar
              p.my-3 con:
              button(type="button").btn.btn-outline-primary.btn-block.br-25#googleAuth <img class="h-15px mr-2 preloaderImage-img" data-img="./img/google-icon.svg" alt=""> google

