@import 'vendors/font-awesome';
@import 'vendors/bootstrap';
@import 'vendors/owl.carousel.min';
@import 'vendors/owl.theme.default.min';


@import 'components/variables'; 
@import 'components/basic_reset';
@import 'components/carrousel';   
@import 'components/aboutUs';   
@import 'components/headerVideo';    
@import 'components/form';   
@import 'components/footer';   
  
 
@import 'pages/home' ;          
                